# Entornos virtuales
/venv311/
/.venv/
*.venv

# Caché de Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Logs
/logs/

# Archivos generados
/exports/
/selections/
/screenshots/
/browser_profiles/

# Archivos de configuración local (si se decide no versionarlos)
# config/database_config.json
# config/browser_config.json

# Archivos del sistema operativo
.DS_Store
